<b>Congrats you have Django 1.6 with Python-3.3 running!<b>
<br />
(Actually, the versions above are hardcoded, so they may not be accurate.)
<br />
let's <a href="/admin">admin </a>
<br />
Enjoy V1.0.0!!!
