<html>
<head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="description" content="Here is some info for the robots">

    <!--Add CSS libraries -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css?v=1">

    <!--Add JS libraries in this order, JQ, ANG, Boot, App-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/js/login_ng.js?v=1"></script>
    <script src="/static/js/global_ng.js?v=1"></script>

</head>
<body ng-app="LoginApp" ng-controller="LoginCtrl">

<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
            <a href="/"><i class="fa fa-step-backward"></i> Back to Home Page</a><br>

            <br>
        </div>
    </div>

	<div class="row clearfix">
		<div class="col-md-5 column">
			<form>
				<div class="form-group">
				    <label for="email">Username</label><input type="text" class="form-control" id="email" ng-model="username"/>
				</div>
				<div class="form-group">
				    <label for="password">Password</label><input type="password" class="form-control" id="password" ng-model="password"/>
				</div>
				<button type="button" class="btn btn-default" ng-click="loginUser()">Submit</button>
			</form>
		</div>
        <div class="col-md-2 column">
		</div>
		<div class="col-md-5 column">
            <p>{{startDateTime}}</p>
			<p ng-bind="result_txt">TBD</p>
            <a href="/user_logout/">Logout <i class="fa fa-sign-out"></i></a><br>
		</div>
	</div>
</div>

</body>
</html>
